body {
	margin: 0;
}
header {
	padding-top: 59px;
	padding-bottom: 22px;
	font-family: Roboto;
	color: #ffffff;
	background-color: #3a7dfd;
}
.header-pretitle {
	margin-top: 102px;
	font-size: 18px;
}
.header-title {
	font-size: 48px;
	font-weight: 700;
	line-height: 36.81px;
	margin-top: 21px;
}
.header-subtitle {
	font-size: 18px;
	font-weight: 400;
	margin-top: 20px;
}
.header-button {
	box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, 0.83);
	background-color: #ffffff;
	border-radius: 25px;
	font-size: 18px;
	font-weight: 700;
	color: #072b6f;
	padding:17px 55px;
	margin-top: 33px;
	border:none;
}
.header-subbutton {
	font-size: 12px;
	font-weight: 400;
	width: 200px;
	text-align:center;
	margin-top: 9px;
}

/* portfolio */
section {
	background-color: #ddd;
}
.portfolio-title {
	
}